.htaccess
.user.ini 
.well-known/
UpdateStatus_log.txt
airtel_renewal_error.txt
airtel_renewal_success.txt
already_active.txt
db_result.txt 
emailerror.txt
general_log.txt 
laffhub_dberror.txt
mysqli_error_log.txt
incomingsms/messages.txt.zip
incomingsms/messages.txt
incomingsms/messages1.txt
error_log
.env.development
.env.production
.env.testing
/airtel/.env.testing
/airtel/.env.production
/airtel/.env.development
/mtn/.env.development
/mtn/.env.production
/mtn/.env.testing
.idea/

